<h1>Hello</h1>
<p>You have successfully created a new product.</p>
===================================================
<h3>Product Description: </h3>
Name: <%= @product.name %><br>
Quantity: <%= @product.quantity %><br>
Details: <%= @product.details %><br>
===================================================
